/* General reset and basic styles */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header,
main,
footer {
    width: 100%;
}

/* Header styles */
header {
    color: white;
    margin-bottom: 8%;
    margin-left: 10%;
    width: 80%;
    padding-top: 30px;
}

.home-page {
    background-image: url('images/Object.png');
    background-size: cover;
    height: 160%;
    background-repeat: no-repeat;
}

.logo {
    width: 160px;
    height: 35px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul {
    display: flex;
    width: 25%;
    justify-content: space-between;
    list-style: none;
}

.nav-ul li a {
    text-decoration: none;
    color: white;
}

.home-page-heading-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-heading {
    display: flex;
    flex-direction: column;
}

.home-page-heading h1 {
    color: white;
    font-size: 90px;
}

.home-page-features {
    margin-top: -66px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25%;
    color: white;
    font-weight: 700;
}

.home-page-heading button {
    width: 175px;
    border-radius: 35px;
    padding: 16px;
    background-color: #C271FF;
    color: white;
    font-weight: bolder;
    margin-left: 35%;
    margin-top: 37px;
    border: 1px solid #C271FF;
}

.home-page-learn {
    display: flex;
    justify-content: center;
    margin-top: 180px;
    color: rgb(194, 190, 190);
    font-weight: 500;
    margin-bottom: 180px;
}

.home-page-learn .highlighted {
    color: #C271FF;
    margin-right: 5px;
    font-weight: 600;
}

.img2 {
    border-radius: 50%;
}

.pros {
    display: flex;
    width: 70%;
    margin-left: 15%;
}

.pros .individual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    width: 500px;
    text-align: center;
}

.testemony {
    background-color: #C271FF;
    display: flex;
    flex-direction: row;
}

.testemony-img {
    display: flex;
    justify-content: left;
    padding-top: 5%;
    height: 150;
    padding-left: 20%;
    padding-right: 3%;
    padding-bottom: 5%;
}

.testemony-text {
    display: flex;
    flex-direction: column;
    color: white;
}

blockquote {
    display: flex;
    margin-left: 0px;
    width: 600;
    margin-top: 13%;
}

.testemony-text h3 {
    font-family: Source Sans Pro;
    font-size: 22px;
    font-weight: 700;
}

.testemony-text p {
    font-family: Source Sans Pro;
    font-size: 22px;
    font-style: italic;
    font-weight: 400;
    margin-top: 0;
}

.popular {
    margin-top: 100px;
    margin-bottom: 100px;
}

.populars {
    display: flex;
    margin-left: 106px;
    justify-content: space-around;
    margin-left: 106px;
    margin-right: 106px;
}

.popular h2 {
    display: flex;
    justify-content: center;
    font-family: Source Sans Pro;
    font-weight: 300;
    font-size: 32px;
}

.popular-tutuorials {
    display: flex;
    flex-direction: column;
    width: 255px;
    height: 335px;
}

.popular-tutuorials img {
    width: 255px;
    height: 154px;
}

.popular-tutuorials h3 {
    font-size: 16px;
    font-weight: 700;
    font-family: Source Sans Pro;
    color: #071629;
    margin-left: 13px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.popular-tutuorials p {
    width: 242px;
    margin-left: 13px;
    font-size: 14px;
    font-weight: 400;
    color: #071629;
    opacity: 50.16%;
    font-family: Source sans-serif;
    margin-top: 10px;
    margin-bottom: 0px;
}

.phillip {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0px;
}

.phillip img {
    width: 30px;
    height: 30px;
    margin-left: 13px;
}

.phillip h4 {
    color: #C271FF;
    font-family: Source sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-left: 15px;
}

.stars {
    display: flex;
    width: 107px;
    height: 15px;
    margin-left: 13px;
    margin-top: 0px;
    color: #C271FF;
}

.star-time {
    display: flex;
    align-items: center;
    margin-top: 0px;
    justify-content: flex-end;
}

.star-time p {
    color: #C271FF;
    font-size: 14px;
    font-weight: 600;
    opacity: 100%;
    margin-left: 100px;

}

.membership-page {
    height: 502px;
    background-color: #071629;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.membership-page h2 {
    font-family: Source Sans Pro;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    justify-content: center;
}

.membership {
    display: flex;
    margin-left: 164px;
    margin-right: 164px;
    justify-content: space-evenly;
    margin-top: 70px;

}

.sample-member {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 153px;
}

.sample-member img {
    width: 43.67px;
    height: 35.35px;
    padding-top: 0.03px;
    display: flex;
}

.sample-member h3 {
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.sample-member p {
    font-family: Source Sans Pro;
    font-size: 14px;
    font-weight: 400;
    padding-left: 65px;
}

.membership-page button {
    width: 162px;
    height: 44px;
    display: flex;
    justify-content: center;
    background-color: #C271FF;
    border-radius: 40px;
    margin-top: 70px;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    font-family: Source Sans pro;
    color: rgba(255, 255, 255, 1);
}

.faq-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 920px;
    height: 707px;
    margin-left: 249px;
}

.faq-page h2 {
    font-family: Source Sans Pro;
    color: rgba(7, 22, 41, 1);
    font-size: 60px;
    font-weight: 300;
}

.articles {
    display: flex;
    justify-content: space-between;
    width: 950px;
    height: 707px;
}

.article-one,
.article-two {
    margin-left: 0px;


}

.articles h3 {
    font-family: Source Sans Pro;
    color: rgba(7, 22, 41, 1);
    font-size: 16px;
    font-weight: 700;
}

.lorem {
    font-family: Source Sans Pro;
    color: rgba(7, 22, 41, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 350px;
    margin-bottom: 70px;
}

.footer-section {
    height: 249px;
    background-color: #071629;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.footer img {
    display: flex;
    width: 169px;
    height: 30px;
    margin-left: 165px;
    padding-top: 70px;
    justify-content: left;
}

.social-medias {
    display: flex;
    width: 150px;
    height: 40px;
    justify-content: space-between;
    color: rgba(255, 255, 255, 1);
    padding-top: 70px;
    margin-right: 165px;
}

.footer-section p {
    font-family: Source Sans Pro;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    opacity: 35.17%;
    margin-top: 70px;
}
